@use './variables' as *;

@import '@fontsource/josefin-sans/400.css';
@import '@fontsource/josefin-sans/700.css';

body{
  font-family: $font;
}

.p-10{
  padding: 10px;
}
.p-20{
  padding: 20px;
}
.p-30{
  padding: 30px;
}
.mb-100{
  padding-bottom: 100px;
}

h1,
h2,
h6{
  color: $color-white;
}

h3,
h4,
h5{
  color: $color-dark;
}

